<form action="add-order" method="POST">
    
    <input type="hidden" name="productId" placeholder="productId" value="<%=product[0].id%>">
    <input type="number" name="quantity" placeholder="quantity" id="quantity">
    <input type="number" id="price" value="<%=product[0].price%>" disabled>
    <input type="number" name="totalPrice" id="totalPrice" disabled>
    <button type="submit">Order</button>

</form>

<script>
var price = document.getElementById("price").value


document.getElementById("quantity").addEventListener('change', function(event) {
    var totalPrice = event.target.value * price;
    document.getElementById("totalPrice").value  = totalPrice;
    console.log(typeof document.getElementById("totalPrice").value)
})

</script>