<form action="add-order" method="POST">
    <input type="number" name="userId" placeholder="userId">
    <input type="number" name="productId" placeholder="productId">
    <input type="number" name="quantity" placeholder="quantity" id="quantity">
    <input type="text" name="totalPrice" id="totalPrice" placeholder="totalPrice">
    <button type="submit">Order</button>

</form>