<form method="post" action="">
    <input type="text" name="name" placeholder="Enter name of product">
    <textarea name="description" placeholder="Enter description of product"></textarea>
    <input type="number" name="price" placeholder="Pice of product">
    <input type="text" name="img" placeholder="image url">
    <button>Submit</button>
</form>