<h1>welcom <%=username%></h1>
<%var message = getMessages() %>
<%if(message.notify){%>
    <%= message.notify %>
    <%}%> 
<a href="http://localhost:5000/products/">products</a>
<a href="http://localhost:5000/orders/userOrder/<%=id%>">your orders</a>